In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data

    day  amount
0   1/7      30
1  1/11      10
2  1/12      10
3  1/13      47
4  1/14      37
5  1/17      43
6  1/18      58
7  1/19      58
8  1/20      30

In [5]:
sum(data['amount'])

323

In [6]:
mean(data['amount'])

NameError: name 'mean' is not defined

In [7]:
data.describe()

          amount
count   9.000000
mean   35.888889
std    17.898634
min    10.000000
25%    30.000000
50%    37.000000
75%    47.000000
max    58.000000